<h2>ギフトを贈る</h2>
​<p>簡単4ステップ</p>
<ol>
<li>A・B・Cコースの中からご希望のコースを選ぶ</li>
<li>購入フォームを送信</li>
<li>12時間以内に請求書がメールで届くので、クレジットカードにてお支払い</li>
<li>お支払確認後、Eメールにて相手の方にギフトメールが届く</li>
​</ol>

<h3>Aコース</h3>
<p>5,000円</p>
<p>選べる内容例：</p>
<ul>
<li>骨盤矯正60分コース</li>
<li>オイルマッサージ60分コース</li>
<li>ハンドケアコース</li>
<li>プライベートヨガ70分コース</li>
​</ul>

購入フォームへ

<h3>Bコース</h3>
<p>8,000円</p>
<p>選べる内容例：</p>
<ul>
<li>骨盤矯正100分コース</li>
<li>オイルマッサージ100分コース</li>
<li>ハンドジェル・シンプルネイルコース</li>
<li>フットジェル・シンプルネイルコース</li>
<li>プライベートヨガ90分コース</li>
</ul>
購入フォームへ

<h3>Cコース</h3>
<p>10,000円</p>
<p>選べる内容例：</p>
<ul>
<li>骨盤矯正120分コース</li>
<li>オイルマッサージ120分コース</li>
<li>ハンドジェル・アートネイルコース</li>
<li>フットジェル・アートネイルコース</li>
<li>プライベートヨガ60分コース（2回）</li>
</ul>
購入フォームへ



<h2>​ギフトの使い方</h2>
<p>​簡単4ステップ</p>
<ol>
<li>Omoteウェブサイトのギフトページより「ギフトを使う」を選ぶ</li>
<li>Eメールにて送られてきたコース名を選び、ご希望のメニューを選ぶ</li>
<li>予約画面に進み、ご希望の日時を選択、必要事項を記入して予約</li>
<li>12時間以内に予約確定メールが届いたら予約完了</li>
</ol>