<h1>予約の流れ</h1>
<ol>
	<li>
	ご希望のGiver(サービス提供者)・コースメニュー・日時をお選び頂き、予約フォームよりお申込みください。この時点で予約は確定していませんのでご注意ください。
	</li>
	<li>ご希望の日時でサービス提供が可能かどうかGiver（サービス提供者）に確認させて頂きますので少しお時間をいただきます
	</li>
	<li>お申込みから12時間以内に予約確定のご連絡をさせて頂きます。ご希望に添えない場合は、日時変更のお願いをさせて頂く場合がこざいます</li>
	<li>予約が確定したら、TeamOmoteよりメールにて請求書をお送りさせて頂きますので、メールの指示に従ってお支払をお願いします。お支払はクレジットカードのみになります</li>
	<li>お支払確認後、TeamOmote よりGiver（サービス提供者）の当日の連絡先（電話番号）をお伝えします</li>
	<li>当日はサービスを受けやすい格好でお待ちください。Giver（サービス提供者）はサービス開始約10分前にご自宅へ到着し、準備が整い次第サービス開始となります</li>
	<li>ごゆっくりとサービスをお楽しみください</li>
	​<li>サービス終了後に当日の感想や困ったこと、ご質問などありましたらお気軽にお問合せもしくは、hello@omote.co までご連絡ください</li>
</ol>