@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/* SASS SETS --------------------------------------------- */
/* color */
$color-pink: #F7E6E3;
$color-text: #4d4d4d;

$font-g: 'Dancing Script', cursive;

* {
  margin: 0;
  padding: 0;
}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
img { -ms-interpolation-mode: bicubic; }
.center { margin: 0 auto; padding: 0 auto; }



/* COMMON --------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, 游ゴシック, YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-color: $color-pink;
  color: $color-text;
}

img {
  width: 100%;
}

header {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  img {
    max-width: 160px;
    }
}

#wrap {
  max-width: 540px;
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-family: $font-g;
    color: #615D5C;
    padding: 10px 0;
  }
  h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 40px;
  }
}
#content {
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 3px 1.75px rgba(0,0,0,0.1);
}
#verification_form {
  width: 100%;
  input[type="text"] {
    width: 100%;
    border: 1px solid #a6a6a6;
    font-size: 16px;
    color: #4d4d4d;
    padding: 10px;
    box-sizing: border-box;
    &:focus {
    background-color: #efefef;
    }
    }
    span {font-size: 13px;}
}
.input-box {
  margin: 20px;
}
input[type="submit"], .btn-submit {
  margin: 0 auto;
  padding: 0 auto;
  padding: 20px;
  display: block;
  margin-top: 20px;
  width: 200px;
  background-color: #CF8280;
  border: none;
  color: #fff;
  font-size: 13px;
}
select {
    padding: 6px 12px;
    font-size: 16px;
    color: #4d4d4d;
    background-color: #fff;
    &:focus {
    background-color: #efefef;
    }
}
footer {
  margin: 40px 0 10px 0;
}

.footer-navi {
  max-width: 540px;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  span {
    padding: 0 20px 0 0;
    a {color:#888;}
  }
}

.thanks-card {
  h1 { color:#CF8280!important; font-size: 40px;}
}

@media screen and (max-width: 480px) {
header {
  img {
    max-width: 100px;
    }
}
#wrap {
  padding: 0 5px;
}
#content {
  padding: 10px;
}
input[type="submit"] {
  margin-bottom: 20px;
}

footer {
  margin: 40px 5px 10px 5px;
}
.footer-navi {
  font-size: 11px;
  span {
    padding: 0 6px 0 0;
  }
}

}
