<footer>
  <nav class="footer-navi center">
    <span><a href="//www.omote.co/" target="_blank">ホーム</a></span>
    <span><a href="//www.omote.co/privacy_policy" target="_blank">プライバシーポリシー</a></span>
     <span><a href="//www.omote.co/terms_of_service" target="_blank">利用規約</a></span>
     <span><a href="//www.omote.co/inquiry_contacts/new" target="_blank">お問い合わせ</a></span>
  </nav>
</footer>
